@model Employee
@{
    ViewData["Title"] = "New";
    SelectList options = new SelectList(ViewBag.DeptList, "Id", "Name");
}

<h1>New</h1>
<!-- post /Employee/SaveNew?name,Salary,imageURl,epartment-->
<form asp-action="SaveNew" asp-controller="Employee" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @* asp-route-id="@Model.Id" *@
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="ImageURL"></label>
        <input asp-for="ImageURL" class="form form-control" />
        <span asp-validation-for="ImageURL" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" class="form form-control" asp-items="options">
            <option value="0">--Select Department--</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>

    </div>

    <input type="submit" value="Create" class="btn btn-success" />
</form>
<a asp-action="Index" asp-controller="Employee">Back To List</a>

<!--client Sie Valiation-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>