@model Employee
@{
    ViewData["Title"] = "New";
    SelectList options = new SelectList(ViewBag.DeptList, "Id", "Name");
}

<h1>New</h1>
<!-- post /Employee/SaveNew?name,Salary,imageURl,epartment-->
<form asp-action="SaveNew" asp-controller="Employee" method="post">
    @* asp-route-id="@Model.Id" *@
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
    </div>
    <div>
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form form-control" />
    </div>
    <div>
        <label asp-for="ImageURL"></label>
        <input asp-for="ImageURL" class="form form-control" />
    </div>
    <div>
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" class="form form-control" asp-items="options">

        </select>
    </div>

    <input type="submit" value="Create" class="btn btn-success" />
</form>
<a asp-action="Index" asp-controller="Employee">Back To List</a>

