@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_MyLayout";
    //Layout = null;
}
<!--ReeBody-->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@section HeadSection{
    <!--style Script HTML-->
    Hello from View To Head Section
}

@* @section FootSection{
    Hello from View To Footer Section

} *@

@*  @section Foot{
    Hello from View To Footer Section

}  *@